/* Estilo del body */

body {
  font-family: "Gerogia", sans-serif;
  background-color: #191919;
  color: #fffffffc;
  margin: 0;
  padding: 0;
}

/* Estilo del menu */

.menu {
  display: flex;
  justify-content: center;
  background-color: #d90429;
}

.menu a {
  color: white;
  text-decoration:none;
  padding: 10px 20px;
  font-weight: bold;
}

.menu a:hover {
  background-color: #b3031f;
}

/* Estilo del main */

main {
  padding: 10px;
  text-align: center;
}

/* Estilo del Carrusel */

.carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.carrousel img {
  width: 70%;
  max-width: 700px;
  border-radius: 10px;
  border: 4px solid #ff0000;
}

/* Estilo del Articulo */

.articulos {
  background-image: url("imagenes/logoF1.webp");
  background-size: 350px 300px;
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  gap: 30px;
  margin-top: 10px;
}

.articulos article {
  background-color: #2b2b2b;
  padding: 15px;
  width: 35%;
  border-radius: 15px;
  border: 2px solid #ff002b;
}

.articulos article:hover {
  transform: scale(1.02); 
}

.articulos img {
  width: 100%;
  border-radius: 10px;
}

/* Estilo del Formulario */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 250px;
}

button {
  background-color: #d90429;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b3031f;
}

footer {
  background-color: #2b2b2b;
  color: #ccc;
  text-align: center;
  padding: 5px;
  margin-top: 40px;
}